<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="panel panel-primary">
        <div>
            <h3>Create employee</h3>
        </div>
        <div class="form-group">

            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" class="form-control" formControlName="fullName"
                [ngClass]="{'is-invalid' :  formErros.fullName}" (blur)="logValidationErrors()">
            <label> {{ nameLength }} </label>
            <span class="invalid-feedback" *ngIf="formErros.fullName">
                {{formErros.fullName}}
            </span>

        </div>


        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Contact preference</legend>
            <div class="col-sm-10">
                <div class="form-group row">
                    <div class="form-check">
                        <label class="form-check-label" for="email">
                            <input class="form-check-input" type="radio" name="contactPreference"
                                id="contactPreference2" value="email" formControlName="contactPreference">
                            Email
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label" for="phone">
                            <input class="form-check-input" type="radio" name="contactPreference"
                                id="contactPreference1" value="phone" formControlName="contactPreference">
                            Phone
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div formGroupName="emailGroup">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    [ngClass]="{'is-invalid' :  formErros.email}" (blur)="logValidationErrors()">
                <span class="invalid-feedback" *ngIf="formErros.email">
                    {{formErros.email}}
                </span>
            </div>
            <div class="form-group">
                <label for="confirmEmail">Confirm Email address</label>
                <input type="email" class="form-control" id="confirmEmail" formControlName="confirmEmail"
                    [ngClass]="{'is-invalid' :  formErros.confirmEmail || formErros.emailGroup}"
                    (blur)="logValidationErrors()">
                <span class="invalid-feedback" *ngIf="formErros.confirmEmail || formErros.emailGroup">
                    {{formErros.confirmEmail ? formErros.confirmEmail : formErros.emailGroup}}
                </span>
            </div>
        </div>



        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" id="phone" formControlName="phone"
                [ngClass]="{'is-invalid' :  formErros.phone}" (blur)="logValidationErrors()">
            <span class="invalid-feedback" *ngIf="formErros.phone">
                {{formErros.phone}}
            </span>
        </div>


        <div formGroupName="skills">
            <div class="form-group row">
                <label class="col-sm-1 col-form-label" for="skillName">
                    Skill
                </label>
                <div class="col-sm-4">
                    <input id="skillName" type="text" placeholder="Name" class="form-control"
                        formControlName="skillName" [ngClass]="{'is-invalid' : formErros.skillName}"
                        (blur)="logValidationErrors()">
                    <span class="invalid-feedback" *ngIf="formErros.skillName">
                        {{formErros.skillName}}
                    </span>
                </div>
                <div class="col-sm-4">
                    <input type="text" placeholder="Experience in year" class="form-control"
                        formControlName="experienceInYear" [ngClass]="{'is-invalid':formErros.experienceInYear}"
                        (blur)="logValidationErrors()">
                    <span class="invalid-feedback" *ngIf="formErros.experienceInYear">
                        {{formErros.experienceInYear}}
                    </span>
                </div>
            </div>

            <div class="form-group row" [ngClass]="{'is-invalid':formErros.inlineRadioOptions}">
                <label class="col-sm-1 col-form-label">Skill</label>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="beginner">
                        <input class="form-check-input" type="radio" formControlName="inlineRadioOptions" id="beginner"
                            value="beginner" name="inlineRadioOptions" (blur)="logValidationErrors()">
                        Beginner
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="intermediate">
                        <input class="form-check-input" type="radio" formControlName="inlineRadioOptions"
                            id="intermediate" value="intermediate" name="inlineRadioOptions"
                            (blur)="logValidationErrors()">
                        Intermediate
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="advanced">
                        <input class="form-check-input" type="radio" formControlName="inlineRadioOptions" id="advanced"
                            value="advanced" name="inlineRadioOptions" (blur)="logValidationErrors()">
                        Advanced
                    </label>
                </div>
            </div>
            <span class="invalid-feedback" *ngIf="formErros.inlineRadioOptions">
                {{formErros.inlineRadioOptions}}
            </span>
        </div>

    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button type="button" class="btn btn-primary mr-2" (click)="onLoadData()">Load Data</button>
            <button type="button" class="btn btn-primary mr-2" (click)="logAction()">Log</button>
            <button type="button" class="btn btn-primary mr-2" (click)="disableAction()">Disable</button>
            <button type="button" class="btn btn-primary mr-2" (click)="logErrors()">Log errors</button>
            <button type="button" class="btn btn-primary mr-2" (click)="formArray()">Form array</button>
        </div>
    </div>
</form>


<table border="1">
    <tr>
        <th style="padding: 10px;">FormGroup</th>
        <th style="padding: 10px;">FormControl (fullName)</th>
    </tr>
    <tr>
        <td style="padding: 10px;">
            touched: {{employeeForm.touched}}
            <br /> dirty: {{employeeForm.dirty}}
            <br /> valid: {{employeeForm.valid}}
            <br /> From values: {{employeeForm.value | json}}
        </td>
        <td style="padding: 10px;">
            touched: {{employeeForm.get('fullName').touched}}
            <br /> dirty: {{employeeForm.get('fullName').dirty}}
            <br /> valid: {{employeeForm.get('fullName').valid}}
            <br /> From values: {{employeeForm.get('fullName').value | json}}
        </td>
    </tr>
</table>